#div1{
    margin: auto;
    background-color: aqua;
    font-style: normal;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
    border: 3px black dotted;
}
#div2{
    margin: auto;
    background-color: blueviolet;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: relative;
}
#div3{
    margin: auto;
    background-color: greenyellow;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}